* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100 vw;
}

h1 {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    margin-top: 25px;
}

h3 {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: #1F1235 2px solid;

}

p {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-top:25px;
}

ul {
    list-style-type: none;
   
}

li p {
   display:block;
   text-align: left;
}

.customInpt {
    border: #1F1235 2px solid !important;

}


.pkmnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pkmnName {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 22px;
    letter-spacing: -0.408px;
    margin-bottom: 210px;
    text-align: center;
    text-transform: capitalize;
}


.pkmnImg {
    position: relative;
    box-sizing: content-box;
    height: 125px;
    /* width: 125px; */
    border: black 2px solid;
    padding: 98px 72px 54px 72px;
    background-color: #FBDD74;
}

.searchW{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw !important;
    
}

.vertSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25;
}

.accStyle {
    display:flex;
    font-family: 'Roboto';
    font-style: normal;
    color: #1f1235;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    border: 1px solid #1F1235;
    border-radius: 8px;
    margin:auto;
    width:350px;
    justify-content: center;

}

.centerAlign{
    width:90%;
}


.customBtn {
    margin-top: 200px;
    text-align: center;
    position: relative;
}

.customSearch {
    font-style: normal;
    color: #1f1235;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    background: #FF6E6C;
    border: 1px solid #1F1235;
    /* 2dp | Button */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    margin-top: 25px;
}

.customSearch:active {
    font-family: 'Roboto';
    font-style: normal;
    color: #1f1235;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    background: #FF6E6C;
    border: 1px solid #1F1235;
    /* 2dp | Button */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.typeLists{
 list-style-type:disc;
}

*:focus {
	box-shadow: 0 0 0px 2px white !important;
	outline: dotted !important;
}

.searchW:focus {

  color: black !important;
  background-color: #FF6E6C;
}

.searchW:active {
    box-shadow: 0 0 0px 6px white !important;
	outline: dotted !important;
    offset:5px !important;
}


/* Hides text */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* All Caps for types */

#doubleDamageList,
#halfDamageList,
#noDamageList,
#regularDamage,
#typed,
#outputWeakness1,
#outputWeakness2 {
    text-transform: uppercase;
}

#outputWeakness1,
#outputWeakness2 {
    font-size: 24px;
}